body {
  font-family: monospace;
  font-size: 12pt;
  background: white;
  padding:20px;
  height: 430px;
  overflow: scroll;
}

section {
  border: solid #888 1px;
  margin: 5px;
  padding:5px;
  display:block;
}
.channel{
  margin-top:20px;
}
#device-panel {
}

#output-panel {
}
