body {
  font-family: monospace;
  font-size: 10pt;
  background: #FFB7B7;
}

div {
  position: absolute;
  border: solid #888 1px;
  padding: 0;
  margin: 2px;
  
}

#data-panel {
  top: 45px;
  left: 2px;
  right: 2px;
  height: 20px;
}

#device-panel {
  top: 2px;
  left: 2px;
  right: 2px;
  height: 40px;
}

#output-panel {
  left: 2px;
  top: 75px;
  width: 475px;
}


